<div class="govuk-form-group">
  <%= form_for @post do |form| %>
    <h1 class="govuk-label-wrapper"><%= form.label :message, class: "govuk-label govuk-label--l" %></h1>
    <%= form.text_field :message, class: "govuk-input" %>

    <%= form.submit "Submit", class: "govuk-button" %>
  <% end %>
</div>

